
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white shadow py-1">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/assets/image/logo.png" width="40" height="40" class="d-inline-block align-top">
    <p class="mb-0 ml-2">Mathclub</p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav align-items-center ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" id="modules-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Online kurslar
        </a>
        <div class="dropdown-menu" aria-labelledby="modules-dropdown">
          <a class="dropdown-item" href="/#applicants-modules">Abituriyentlar uchun</a>
          <a class="dropdown-item" href="/#students-modules">Maktab o'quvchilari uchun</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/contact">Aloqa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark login-link" href="/auth/login"><button class="btn btn-outline-primary">Kirish</button></a>
      </li>
    </ul>
  </div>
</nav>