
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow py-1">
  <a class="navbar-brand d-flex align-items-center user-account pl-2" href="/">
		<div style="width: 40px; height: 40px">
			<img src="/assets/image/default_user_image.png" class="d-block border rounded-circle">
		</div>
    <h6 class="mb-0 ml-2">Foydalanuvchi</h6>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav align-items-center ml-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-500 modules-link-item" href="/cabinet/modules">Kurslar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-500 settings-link-item" href="/cabinet/settings">Sozlamalar</a>
      </li>
      <li class="nav-item pl-2 pb-3 pb-md-0">
        <button class="btn btn-outline-danger py-1" onclick="logout()">Chiqish</button>
      </li>
    </ul>
  </div>
</nav>